body {
  font-family: sans-serif;
  margin: 5rem auto;
  background-image: url(http://www.fillmurray.com/200/300);
  background-repeat: no-repeat;
  background-size: cover;
  color: #1e90ff; }

.calc-form {
  text-align: center; }

.output {
  text-align: center;
  background: #FAFAFA;
  border: 2px solid black;
  margin: 5rem 15rem;
  padding: 1rem 0; }

input {
  width: 20%;
  height: 2rem;
  font-size: 2rem; }

p {
  margin: 2rem auto;
  font-size: 2rem;
  background: #FAFAFA;
  width: 2rem;
  border: 0.25rem solid #1e90ff;
  border-radius: 50%; }

#button {
  color: #1e90ff; }

#result {
  font-size: 3rem; }

#one, #two {
  text-align: center;
  color: #1e90ff; }
